:root {
  --blue: #576ca8;
  --inputBg: #444b67;
  --cr1: #c94277;
  --cr2: #1b998b;
  --cr3: #ffd046;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #302b27;
  color: #fff;
}

#app {
  font-family: Quicksand;
  
}

.df {
  display: flex;
  gap: 1rem;
}

